@import "global_variables";

body {
  background-image: url("/images/main_dark_background.jpg");
  font-family: "Open Sans", sans-serif;
  color: $main-text-color;
}

section, aside, footer, header {
  border: 1px solid $yellow;
}

p, label {
  color: $main-text-color;
}

header, footer {
  color: $white;
  text-align: center;
}

.top-players-list {
  background-color: $green;
}